.nav{
    background-color: gold;
    display: flex;
}

#logo{
    height: 50px;
    width: 50px;
    margin-right: 100%;
}

#titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

#boton{
    margin-left: 100%;
    margin-top: 8px;
}

.seccion{
    background-color: darkcyan;
    min-height: 100vh;
}

#robot{
    height: 200px;
    width: 200px;
    margin-top: 4rem;
}

#tituloDos{
    margin-top: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: italic;
}

#parrafo{
    font-size: 28px;
    font-weight: bold;
    margin-top: 1rem;
}

.footer{
    display: flex;
    background-color: gold;
}

#consolas{
    justify-content: right;
}